{
  "presets": [
  'vue',
    [
    "latest", 
    { "es2015": { "modules": false } }
    ]
  ],
  "plugins": ["transform-vue-template", "external-helpers", "transform-decorators-legacy", "transform-object-rest-spread",  ], 
}
